<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_sign.css">
    <title>Войти</title>
</head>
<body>
{% if error_username_or_password %}

<div class="log_exists">
    <img src="../static/img/icon_err.svg" class="log_img">
    Неверный логин или пароль
</div>
{% endif %}
<form method="post">
    <div class="container">
        <h1>Войти</h1>
        <hr>
        <label for="log"><b>Логин</b></label>
        <input type="text" placeholder="Логин" name="username" required>

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Пароль" name="password" required>

        </label>
        <hr>
        <button type="submit" class="signbtn">Войти</button>
    </div>

    <div class="container signin">
        <p>Еще не зарегистрированы? <a href="/register">Зарегистрироваться</a>.</p>
    </div>
</form>
</body>
</html>