<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_index.css">
    <title>Система онлайн записи к врачу</title>
</head>
<body>
<div class="intro">
    <div class="header">
        <div class="nav_logo">
            <img src="../static/img/mainicon.svg" class="logo_img">
            <div class="logo_text"> Какая-то классная клиника</div>
        </div>
        <nav class="navigation">
            <div class="container">
                <ul class="navbar">
                    <li class="nav_item">
                        <a class="nav_link" href="/">Главная</a>
                    </li>
                    <hr>
                    <li class="nav_item">
                        <a class="nav_link" href="/doctors">Специалисты</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <hr>
                        <li class="nav_item">
                            <a class="nav_link" href="/profile">Личный кабинет</a>
                        </li>
                        {% if current_user.patient %}
                            <hr>
                            <li class="nav_item">
                                <a class="nav_link" href="#">Записаться к врачу</a>
                            </li>
                        {% elif current_user.doctor %}
                            <hr>
                            <li class="nav_item">
                                <a class="nav_link" href="#">Расписание врача</a>
                            </li>
                        {% elif current_user.admin %}
                            <hr>
                            <li class="nav_item">
                                <a class="nav_link" href="#">Админ-панель</a>
                            </li>
                        {% endif %}
                        <hr>
                        <li class="nav_item">
                            <a class="nav_link" href="/logout">Выйти</a>
                        </li>
                    {% else %}
                        <hr>
                        <li class="nav_item">
                            <a class="nav_link" href="/auth">Авторизоваться</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="container_info">
        <div class="info_color">
            <div class="info_text">
                Наша классная клиника входит в число лучших частных медицинских центров
                Какого-то города.<br>
                Для Вас в клинике работают много докторов медицинских наук, дофигища
                профессоров медицины,<br>
                более 100500 кандидатов медицинских наук, более миллиона миллиардов
                высококвалифицированных специалистов,<br>
                большинство из которых имеют высшую УАСЯ квалификационную категорию,<br>
                а также уникальные специалисты-консультанты лучших стационаров и НИИ
                Какого-то города.<br>
                Врачи клиники проходят систематические стажировки в самых крутых
                странах.<br>
            </div>
            {% if current_user.is_authenticated %}
                <a href="rec.html" class="btn">Записаться на приём</a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>