<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_p_user.css">
    <title>Личный кабинет</title>
</head>
<body>
<header>
    <div class="title">Личный кабинет</div>
    <div class="user_info">
        <h1>{{ current_user.surname }} {{ current_user.name }} {{ current_user.mid_name or '' }}</h1>
        Пациент
    </div>
</header>
<div class="container_profile">
    <h1 class="info">Записи:</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Специалист</th>
            <th>Специальность</th>
            <th>Дата</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="nav">
    <a href="/" class="btn">Вернуться на главную</a>
    <a href="/signup" class="btn">Записаться к врачу</a>
    <a href="/logout" class="btn">Выйти из профиля</a>
</div>
</body>
</html>