<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/style_profile.css">
    <title>Личный кабинет</title>
</head>
<body>
<header>
  <div class="title"> Личный кабинет</div>
  <div class="user_info">
      <h1>*ФИО пользователя*</h1>
      Роль
  </div>
</header>
<div class="container_profile">
    <div class="profile_info">
        <img src="profile_img.jpg" class="border">
        <div class="profile_text">
        <h1 class="info">ФИО:</h1>
        
        <h1 class="info">Специальность: </h1>
        
        <h1 class="info">Квалификация: </h1>
        </div>
    </div>
</div>
</body>
</html>