<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/src/static/css/style_profile.css">
    <title>Личный кабинет</title>
</head>
<body>
<header>
    <div class="title">Личный кабинет</div>
    <div class="user_info">
        <h1>{{ current_user.surname }} {{ current_user.name }} {{ current_user.mid_name or '' }}</h1>
        {% if current_user.patient %}
            Пациент
        {% elif current_user.doctor %}
            <h1 class="info">
                Специальность: {{ current_user.doctor.specialty.title }}
            </h1>
        {% elif current_user.admin %}
            Администратор
        {% endif %}
    </div>
</header>
<div class="container_profile">
    {% if current_user.patient %}
        <h1 class="info">Записи:</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Специалист</th>
                <th>Специальность</th>
                <th>Дата</th>
                <th>Время</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in current_user.patient.appointment_set %}
                <tr>
                    {% set doctor = appointment.record_time.doctor %}
                    <td>
                        {{ doctor.surname }} {{ doctor.name }} {{ doctor.mid_name or '' }}
                    </td>
                    <td>
                        {{ doctor.specialty.title }}
                    </td>
                    <td>
                        {{ appointment.date }}
                    </td>
                    <td>
                        {{ appointment.record_time.start }}-{{ appointment.record_time.end }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif current_user.doctor %}
        <h1 class="info">Расписание:</h1>
        <table class="table">
            <thead>
            <tr>
                <td>Дата</td>
                <td>День недели</td>
                <td>Записи</td>
            </tr>
            </thead>
            <tbody>
            {% for i in range(28) %}
                {% set now = today + timedelta(i) %}
                <tr>
                    <td>{{ now.strftime('%d.%m.%Y') }}</td>
                    <td>
                        {% if now.weekday() == 0 %}
                            Понедельник
                        {% elif now.weekday() == 1 %}
                            Вторник
                        {% elif now.weekday() == 2 %}
                            Среда
                        {% elif now.weekday() == 3 %}
                            Четверг
                        {% elif now.weekday() == 4 %}
                            Пятница
                        {% elif now.weekday() == 5 %}
                            Суббота
                        {% elif now.weekday() == 6 %}
                            Воскресенье
                        {% endif %}
                    </td>
                    {% set record_times = RecordTime.query.filter_by(
                                doctor=current_user.doctor, weekday=now.weekday()
                            ).all() %}
                    {% if record_times | length > 0 %}
                        <td>
                            <ol>
                                {% for record_time in record_times %}
                                    {% set appointment = record_time.get_appointment(now) %}
                                    {% if appointment %}
                                        <li class="busy">
                                            <p>
                                                {{ record_time.start.strftime('%H:%M') }}-{{ record_time.end.strftime('%H:%M') }}
                                                ({{ appointment.patient.surname }} {{ appointment.patient.name }})
                                            </p>
                                        </li>
                                    {% else %}
                                        <li class="free">
                                            <p>
                                                {{ record_time.start.strftime('%H:%M') }}-{{ record_time.end.strftime('%H:%M') }}
                                            </p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </td>
                    {% else %}
                        <td class="off">Выходной</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif current_user.admin %}
        <h1 class="info">Пользователи:</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ФИО пользователя</th>
                <th>Логин</th>
                <th class="last">Тип пользователя</th>
                <th class="last_of_all"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.surname }} {{ user.name }} {{ user.mid_name or '' }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% if user.patient %}
                            Пациент
                        {% elif user.doctor %}
                            Специалист
                        {% elif user.admin %}
                            Админ
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<div class="nav">
    <a href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/mydb.cgi/" class="btn">Вернуться на главную</a>
    <a href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/mydb.cgi/doctors" class="btn">Специалисты</a>
    {% if current_user.admin %}
        <a href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/mydb.cgi/register_doc" class="btn">Зарегистрировать доктора</a>
    {% endif %}
    <a href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/mydb.cgi/logout" class="btn">Выйти из профиля</a>
</div>
</body>
</html>
