<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_sign.css">
    <script src="../js/valid.js"></script>
    <title>Зарегистрироваться</title>
</head>
<body>
<form action="#" method="post">
    <div class="container">
        <h1>Зарегистрироваться</h1>
        <p>Пожалуйста, заполните эту форму, чтобы создать аккаунт.</p>
        <hr>
        <label for="surname"><b>Фамилия</b></label>
        <input type="text" placeholder="Фамилия" name="surname" value="{{ surname }}" required>

        <label for="name"><b>Имя</b></label>
        <input type="text" placeholder="Имя" name="name" value="{{ name }}" required>

        <label for="mid_name"><b>Отчество(при наличии)</b></label>
        <input type="text" placeholder="Отчество" name="mid_name" value="{{ mid_name }}">

        {% if error_username %}
           <div class="log_exists">
               <img src="../static/img/icon_err.svg" class="log_img">
               Этот логин уже используется
           </div>  {# TODO #}
        {% endif %}
        <label for="username"><b>Логин</b></label>
        <input type="text" placeholder="Логин" name="username" required>

        <label for="password"><b>Пароль</b></label>
        <input type="password" placeholder="Пароль" name="password" required>

        <label for="psw-repeat"><b>Повторите пароль</b></label>
        <input type="password" placeholder="Повторите пароль" required>

        <label for="passport"><b>Серия и номер паспорта</b></label>
        <input type="text" placeholder="Серия и номер паспорта" name="passport"
               pattern="[0-9]{4}\s[0-9]{6}"
               title="Введите серию и номер паспорта в указанном формате: **** ******"
               value="{{ passport }}"
               required>
        <hr>
        <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>

    <div class="container signin">
        <p>Уже зарегестрированы? <a href="/auth">Войти</a>.</p>
    </div>
</form>
</body>
</html>