<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style_schedule.css">
    <title>Расписание</title>
</head>
<body>
<header>
    Расписание
</header>
<div class="container_sch">
    <div class="sch_text">*ФИО ВРАЧА*</div>
    <table class="table">
        <thead>
        <tr>
            <th>Дата</th>
            <th>8:00-8:30</th>
            <th>8:30-9:00</th>
            <th>9:30-10:00</th>
            <th>10:30-11:00</th>
            <th>11:30-12:00</th>
            <th>13:00-13:30</th>
            <th>14:00-15:00</th>
            <th>15:30-16:00</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="status">
        <div class="stat">
            <div class="stat1"></div>
            - Запись свободна
        </div>
        <div class="stat">
            <div class="stat2"></div>
            - Запись занята</div>
        <div class="stat">
            <div class="stat3"></div>
            - Выходной</div>
        <div class="stat">
            <div class="stat4"></div>
            - Отпуск</div>
    </div>
</div>
<div class="nav">
    <a href="/" class="btn">Вернуться на главную</a>
    <a href="/profile" class="btn">Перейти в личный кабинет</a>
</div>
</body>
</html>