<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/style_sign.css">
    <title>Зарегистрироваться</title>
</head>
<body>
<form action="#" method="post">
  <div class="container">
    <h1>Зарегистрироваться</h1>
    <p>Пожалуйста, заполните эту форму, чтобы создать аккаунт.</p>
    <hr>
    <label for="surname"><b>Фамилия</b></label>
    <input type="text" placeholder="Фамилия" name="surname" required>

    <label for="name"><b>Имя</b></label>
    <input type="text" placeholder="Имя" name="name" required>

    <label for="mid_name"><b>Отчество(при наличии)</b></label>
    <input type="text" placeholder="Отчество" name="mid_name">

    <label for="log"><b>Логин</b></label>
    <input type="text" placeholder="Логин" name="log" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Пароль" name="psw" required>

    <label for="psw-repeat"><b>Повторите пароль</b></label>
    <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>

    <label for="passport"><b>Серия и номер паспорта</b></label>
    <input type="text" placeholder="Серия и номер паспорта" name="passport" pattern="[0-9]{4}\s[0-9]{6}" title="Введите серию и номер паспорта в указанном формате: **** ******" required>
    <hr>
    <button type="submit" class="registerbtn">Зарегистрироваться</button>
  </div>

  <div class="container signin">
    <p>Уже зарегестрированы? <a href="signin.html">Войти</a>.</p>
  </div>
</form>
</body>
</html>