<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/src/static/css/style_spec.css">
    <title>Специалисты</title>
</head>
<body>
<header>
    Специалисты
</header>
<div class="container_spec">
    <table class="table">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Специальность</th>
            {% if current_user.patient %}
                <th>Записаться</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.surname }}</td>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.mid_name or '' }}</td>
                <td>{{ doctor.specialty.title }}</td>
                {% if current_user.patient %}
                    <td><a href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/mydb.cgi/signup?doctor={{ doctor.id }}">Записаться</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="nav">
        <a href="http://www2.cs.vsu.ru/~komarov_s_o/cgi-bin/mydb/mydb.cgi/" class="btn">Вернуться на главную</a>
    </div>
</div>
</body>
</html>
