body{
    margin: 0;
    background-color: #F0F8FFFF;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: #708090FF;
}
.title{
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
    padding: 40px;
}
.user_info{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}
h1{
    font-size: 26px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 10px;
}
.container_profile{
    display: flex;
    background-color: rgba(170, 191, 208, 0.6);
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

}
.info{
    color: #263644;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 0px;
}
.table {
    width: 100%;
    border: none;
    padding: 10px 7px;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background-color: rgba(170, 191, 208, 0.74);
    font-size: 14px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tbody tr{
    background-color: rgba(255, 255, 255, 0.6);
}
.table tbody tr:nth-child(even){
    background-color: #AABFD07F;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.last{
    border-radius: 0 8px 8px 0;
}
.table thead tr th.last_of_all{
    background-color: transparent;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.btn{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #4b555f;
    width: 295px;
    height: 60px;
    padding-top: 12px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #708090FF;
    box-sizing: border-box;
    border-radius: 75px;
    transition: color 0.2s linear;
}
.btn_del{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #4b555f;
    width: 147px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #708090FF;
    box-sizing: border-box;
    border-radius: 75px;
    transition: color 0.2s linear;
}
.btn_del:hover { background: rgba(95,158,160,0.2);}
.btn_del:active { background: rgba(170, 191, 208, 0.74); }
.btn:hover { background: rgba(95,158,160,0.2);}
.btn:active { background: #5F9EA0FF; }
.btn_admin{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #4b555f;
    width: 295px;
    height: 60px;
    padding-top: 12px;
    margin: 15px 0px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #708090FF;
    box-sizing: border-box;
    border-radius: 75px;
    transition: color 0.2s linear;
}
.btn_admin:hover { background: rgba(95,158,160,0.2);}
.btn_admin:active { background: #5F9EA0FF; }
.btn_admin:last-child{
    padding-top: 0px;
    font-size: 20px;
}
.btn_admin:nth-child(5){
    font-size: 22px;
}