body{
    margin: 0;
    background-color: #F0F8FFFF;
}
header{
    width: 100%;
    height: 10%;
    background-color: #708090FF;
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
    padding: 30px;
}
.container_admin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}